.logo{ 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    margin-top: 6.4rem;
}

.logoLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    font-size: 4.2rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--primary);
    transition: all 0.4s ease-in-out;
}

.logoLink:hover {
    filter: brightness(50%)
}

.logoLink svg {
    width: 6.4rem;
    height: 6.4rem;
}